.userListContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.user {
    border: 1px solid gray;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}